<h1 class="animated fadeIn fast ">Sobre Comic APP</h1>
<hr>


<p class="animated fadeIn">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum repudiandae cupiditate explicabo voluptatum quod animi porro, recusandae at, temporibus sint cumque! Quo tempora tempore alias impedit magnam delectus deleniti. Ut.</p>
