<div class="jumbotron jumbotron-fluid animated fadeIn fast">

    <h1 class="display-4">Comic App</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Esta es una aplicacion de Super Heroes.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

  </div>