<h1> Buscador: <small>{{ termino}}</small> </h1>

<div class="row animated fadeIn fast " *ngIf="heroes.length == 0">
    <div class ="col-md-12">
             <div class="alert alert-info" role="alerta">
                No existen Resultados con el termino ingresado: {{ termino }}
              </div>
    </div>
</div>

<div class="card-columns">

    <div class="card animated fadeIn fast " *ngFor="let heroe of heroes; let i = index" >
        <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre}}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
            <button (click)="verHeroe(heroe.id)"
            type="button" class="btn btn-outline-primary btn-block">
            Ver mas..  
            </button>


        </div>
    </div>
</div>